<div class="comment">
  <div class="comment-content">

    <span class="comment-user"> <h6>Posted By:
    <%=  link_to comment.user.username.capitalize, user_path(comment.user) %> <span class="comment-time">  <%= time_ago_in_words(comment.created_at) %> ago</span></h6>
    </span>
    <div class='votes-location'>
      <p class="comment-body"> <h6>Comment Score <%= total_votes(comment.id) %> </h6></p>
      <% if !voted_on(current_user.id, comment.id)  %>
        <%= link_to "Up Vote", update_votes_path(comment, vote: 1), :method=> :post %><br>
        <%= link_to "Down Vote", update_votes_path(comment, vote: 0), :method=> :post %>
      <%end%>
    </div>

<h5 class='comment-body-text'><%= comment.body %></h5>
  </div>
</div>


