<h2>Profile Page for <%= @user.username %> </h2>

<!-- Making A Friend Request -->


<!-- if you are on your own profile page, no "add button" -->
<!-- if this is NOT your profile page -->
      <!-- if already friends -->
        <!-- remove button shows -->
      <!-- if pending friends -->
        <!-- Your request is pending message -->
      <!-- if not friends  -->
        <!-- put Add Button -->

<% unless @user == current_user %>
  <% if @friendship == nil %>
    <%= button_to "Add Friend", friend_request_path, params: {friend_id: @user.id} %>
  <% elsif @friendship.status == "confirmed" %>
      <%= button_to "Remove Friend", friend_removal_path, params: {user_id: current_user.id, friend_id: @user.id}, method: :delete, data: { confirm: 'Are you sure?' }%>
  <% elsif @friendship.status == "pending" %>
        <p> Your Friendship Request is Pending </p>
  <% end %>
<% end %>

<div class ="confirmed-friends">
  <h1>Your Friends</h1>

</div>

<div class ="pending-friends">
  <h1>Your Friend Requests</h1>
  <ul>
    <li><%= @pending_friends %> </li>
     <%= button_to "Approve Friend", friend_approval_path, params: {user_id: current_user.id, friend_id: @user.id} %></div>
  </ul>



<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Delete Profile", user_path, method: :delete %>
