<h2>Profile Page for <%= @user.username %> </h2>
<div class='favorites_list'>
<ul>
  <h2>Favorites</h2>
  <% current_user.favorited_games.each do |game|%>
    <li><img class='thumbnail' src="<%= game.photo %>">  <%= link_to game.title, game_path(game.id) %></li>
    <% end %>
</ul>
</div>



<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Delete Profile", user_path, method: :delete %>
