  <h2><%= @game.title %></h2>
<div class="show-fav">
  <% if current_user && current_user.favorites.find_by(game_id: @game.id) %>
    <%= link_to "Delete #{@game.title} from Favorites", game_favorite_path(game_id: @game.id), method: :delete, class: "waves-effect waves-light btn-large" %>
  <% else %>
    <%= link_to "Add to Favorites", game_favorites_path(game_id: @game.id), method: :post, class: "waves-effect waves-light btn-large"%>
  <% end %><br>
</div>
  <img class='index_photo' id="show-photo" src="<%= @game.photo %>">
  <%= @game.description %>

<div class="ratings">
  <h3>Average Rating: <%= @average_rating %></h3>
  <% if @prev_rating %>
      <p>You rated this game <%= @prev_rating.rating %> </p>
  <% else %>
    <%= render "games/game_rating" %>
  <% end %>

</div>
   <!--  %= link_to 'Rate Me', game_ratin////////th(@game.id), method: :post % -->

<div id="comments">

  <% if  @game.comments.count > 0 %>
    <h2><%= @game.comments.count %> Comments</h2>
    <%= render @game.comments %>
  <% end %>

  <% if logged_in? %>
    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
  <% end %>

</div>
