<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <% if current_user %>
    <li><%= link_to 'Logout', logout_path  %></li>
    <li><%= link_to 'Profile', user_path(current_user) %></li>
  <% else %>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Register', new_user_path %></li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <ul class="right hide-on-med-and-down">
      <% if logged_in? && @approved_pending_friends %>
      <li id='friend-request'><%= link_to "Friend Requests - #{@approved_pending_friends.length}".html_safe, user_path(current_user.id) %> 
      </li>
      <% end %>
      <li id='left' ><%= link_to '<i class="fa fa-home fa-3x" aria-hidden="true"></i>'.html_safe, root_path %>
      </li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large material-icons">view_module</i></a></li>
    </ul>
  </div>
</nav>



